/* GOOGLE FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    /* box-sizing explain: without box-sizing, every time you add padding to any element, the page
    could strech. Say your page is 100% of the viewport's width.
    if you add patting to any element, it would make it more than 100% and it would force
    a horizontal scroll bar. Box-sizing prevents that from happening.*/
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Lobster', sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top:25px;
    margin-bottom: 15px;
    font-size: 48px;
    letter-spacing: 1px;
}